<h1>Create a new truck listing</h1>

<div class="truck-box col-xs-8 col-xs-offset-2" >
	<%= simple_form_for :truck do |f| %>
		<p>
			<%= f.input :name %>
			<%= f.input :description %>
		</p>
			<!--- form button for creating a new truck -->
		<%= f.submit 'Post truck listing', :class => "btn btn-primary" %>
	<% end %>
</div>